---
import Layout from "../layouts/Layout.astro";
import Page from "../layouts/Page.astro";
import FooterSection from "./home/FooterSection.astro";
// components
import HeaderSection from "./work/HeaderSection.astro";
import HistorySection from "./work/HistorySection.astro";
import { GiPlasticDuck } from "react-icons/gi";

type Props = {};

const {} = Astro.props;
---

<Layout title="Work">
  <Page>
    <HeaderSection />

    <HistorySection />
    <div class="icon-container">
      <GiPlasticDuck
        size={50}
        style={{
          color: "var(--yellow-400",
        }}
      />
    </div>
    <FooterSection />
  </Page>
</Layout>

<style>
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 6rem 0;
  }
</style>
