---
interface Props {
  icon: string;
  href: string;
}

const { href, icon } = Astro.props;
---

<a href={href} target="_blank">
  <i class={icon} aria-hidden="true"></i>
</a>

<style>
  a {
    background: var(--white-alpha-100);
    padding: 0.5rem;
    border-radius: var(--radius-lg);
  }

  a:hover {
    background: var(--white-alpha-50);

    & > i {
      color: var(--yellow-400);
      transform: scale(0.95);
    }
  }

  i {
    color: var(--white-alpha-800);
    font-size: 1.3rem;
    transition: all 0.1s ease-in-out;
  }

  /* i::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    bottom: -0.7rem;
    transform: translateY(0.2rem);
    left: 0;
    background-color: transparent;
    transition: all 0.15s ease-in-out;
    border-radius: 0.08rem;
  }

  /* i hover after     */
  /* i:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.15rem;
    bottom: -0.5rem;
    transform: translateY(0);
    left: 0;
    background-color: var(--yellow-400);
  } */ */
</style>
